body {
  margin: 0;
  padding: 0;
}

.canvas {
  background: linear-gradient(
    rgb(39, 39, 39),
    rgb(207, 207, 207),
    rgb(39, 39, 39)
  );
}

.canvas::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(160, 160, 160);
  opacity: 0.3;
  z-index: 0;
}
